html, body, header, section, 
aside, footer, div, span, h1, h2, 
h3, h4, h5, h6, p, ol, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
}

/**div {
  border: 1px solid #ddd;
}**/

*, *:before, *:after {
  box-sizing: inherit;
}

ol, ul {
  list-style-type: none;
  padding: 0;
}

*:focus {
    outline: none;
}
/** START OF CUSTOM STYLES **/

body {
  background-color: #f4f4f4;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.list-app {
  margin: 0 auto;
  width: 25.2em;
  padding: 2em;
  border: 2px solid #585858;
  border-radius: 10px;
  background-color: #DBE3CC
}

::selection {
    background: #171818;
    color: #fbfbfb
}

/** HEADER SECTION **/
header {
  color: #585858;
  text-align: center;
}

header img {
  /**border: 1px solid gray;**/
  margin: -2em;
  width: 8em;
}
header h1 {
  padding: -2rem 0;
  font-size: 1.7em;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

header h1 > span {
  color: #69d2e7;
}

header p {
  font-size: 0.9em;
  font-weight: 300;
  font-family: 'Muli', sans-serif;
  border-bottom: 1px solid gray;
  max-width: 50%;
  margin: 0 auto 1em auto;
  padding: 0.3em 0 0.6em;
}

/** LIST SECTION **/
.list {
  background-color: white;
  border-radius: 10px;
  padding: .5em;
  margin-bottom: .6em;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  
}

.new-item {
  width: 80%;
  margin: 1em 10% 1em;
  text-align: center;
  border-radius: 20px;
  font-size: 1.1em;
  border: 0.5px solid #e5e5e5;
  background-color: #e5e5e5;
  color: #585858;
  border: 0;
  padding: 0.5em 1em;
}

.list > p {
  text-align: center;
  font-size: .9em;
  color: #585858;
  margin-top: -0.7em;
  padding-bottom: 0.6em;
  /*border: 1px solid gray;*/
}

.fa-cut {
  color: #69d2e7;
  font-size: 1.2em;
  padding-left: 0.2em;
}

.buttons {
  width: 100%;
}
.buttons a#clear-list {
  float: right;
}
.buttons a#clear-checked {
  float: left;
}

#clear-list, #clear-checked, #clear-list:visited, #clear-checked:visited {
  border-radius: 16px;
  font-size: 0.9em;
  text-decoration: none;
  color: #585858;
  padding: 0.5em;
  border: 1px solid #bbb;
}

#clear-list:hover, #clear-checked:hover {
  background: #DBE3CC;
  color: #585858;
}

.buttons ul{
  max-width: 95%;
  margin: 1em auto;
  padding: 0 1.1em 2em;
}

.buttons li {
  display: inline;
}

.list-container {
  margin: 0.3em;
  clear: both;
  padding: 1.3em 0;
  border: 1px solid #ddd;
  border-radius: 20px;
  min-height: 24em;
}
.list-items {
  line-height: 1.6em;
}

.list-items li {
  width: 80%;
  margin: 0 10% 0.4em;
  border-bottom: 1px solid #ddd;
  padding: 0 1em 0.2em;
}

li.done {
  color: #999;
  text-decoration: line-through;
}
.fa-square-o {
  color: #03a34b;
  padding: 0.1em 0.8em 0 0;
  font-size: 1.3em;
}

.list-items li.ui-sortable-helper {
  margin-left: 3.5%;
  background-color: white;
  border: 1px solid #69d2e7;
}

.fa-minus {
  color: #fa6800;
  padding: 0 1.1em 0 0.1em;
}

.fa-remove {
  padding-left: 2em;
}

/** FOOTER SECTION **/

footer {
  margin-bottom: 2.9em;
}
.icons {
  background-color: #69d2e7;
  border-radius: 10px;
  float: left;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.icons ul {
  clear: left;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  text-align: center;
}

.icons ul li {
  display: block;
  float: left;
  list-style: none;
  margin: 0 1em;
  padding: 0;
  position: relative;
  right: 50%;
}

.icons ul li a {
  display: block;
  margin: 0.5em -0.3rem;
  padding: 0.38em;
  color: #585858;
  text-decoration: none;
  line-height: 1.3em;
  font-size: 1.1em;
  border: 2px solid #585858;
  border-radius: 50%;
  text-align: center;
  width: 2.5rem;
  height: 2.5rem;
}

.icons a i {
  color: #585858;
  font-size: 1.5rem;
  line-height: 1;
}


.icons ul li a:hover {
  background-color: #DBE3CC;
  color: #585858;
  border: 2px solid #585858;
}


/** RESPONSIVE DESIGN **/

@media handheld {
  .list > p {
    display: none;
  }
}
