html, body, header, section, 
aside, footer, div, span, h1, h2, 
h3, h4, h5, h6, p, ol, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
}

/**div {
  border: 1px solid #ddd;
}**/

*, *:before, *:after {
  box-sizing: inherit;
}

ol, ul {
  list-style-type: none;
  padding: 0;
}
/** START OF CUSTOM STYLES **/

body {
  background-color: #f4f4f4;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.list-app {
  margin: 0 auto;
  max-width: 40%;
  padding: 2em;
  border: 2px solid #585858;
  border-radius: 10px;
  background-color: #DBE3CC
}

::selection {
    background: #171818;
    color: #fbfbfb
}

/** HEADER SECTION **/
header {
  color: #585858;
  text-align: center;
}

header img {
  /**border: 1px solid gray;**/
  margin: -2em;
}
header h1 {
  padding: -2rem 0;
  font-size: 2em;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

header h1 > span {
  color: #69d2e7;
}

header p {
  font-size: 1em;
  font-weight: 300;
  font-family: 'Muli', sans-serif;
  border-bottom: 1px solid gray;
  max-width: 50%;
  margin: 0 auto 1em auto;
  padding: 0.3em 0 0.6em;
}

/** LIST SECTION **/
.list {
  background-color: white;
  border-radius: 10px;
  padding: .5em;
  margin-bottom: .6em;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  
}

.new-item {
  width: 80%;
  margin: 1em 10% 1em;
  border-radius: 20px;
  font-size: 1.1em;
  background-color: #e5e5e5;
  color: white;
  border: 0;
  padding: 0.5em 1em;
}

#startover {
  width: 20%;
  margin: 0 40% 1em;
  border-radius: 25px;
  /**font-family: 'Open Sans', sans-serif;**/
  font-size: 1.1em;
  background-color: #ddd;
  border: 0.1px solid #585858;
}

#startover:hover {
  background: #171818;
    color: #fbfbfb;
}
.list-items {
  line-height: 1.6em;
  
}

.list-items li {
  width: 80%;
  margin: 0.5em 10% 1em;
  border-bottom: 1px solid #ddd;
  padding: 0 2em 0.3em;
}
/** FOOTER SECTION **/

footer {
  margin-bottom: 5.7em;
}
.icons {
  background-color: #69d2e7;
  border-radius: 10px;
  float: left;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.icons ul {
  clear: left;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  text-align: center;
}

.icons ul li {
  display: block;
  float: left;
  list-style: none;
  margin: 0 1em;
  padding: 0;
  position: relative;
  right: 50%;
}

.icons ul li a {
  display: block;
  margin: 1em -0.3rem;
  padding: 0.68em;
  color: white;
  text-decoration: none;
  line-height: 1.3em;
  font-size: 1.1em;
  border: 2px solid #585858;
  border-radius: 50%;
  text-align: center;
  width: 3rem;
  height: 3rem;
}

.icons a i {
  color: #585858;
  font-size: 1.5rem;
  line-height: 1;
}


.icons ul li a:hover {
  background-color: #DBE3CC;
  color: #585858;
  border: 2px solid #585858;
}



 /** RESPONSIVE DESIGN **/
@media screen and (max-width: 790px) {

  header .content h6 {
  padding-top: 27rem;
  font-size: 0.9rem;
  }

  header .content p {
    font-size: 0.7rem;
  }
  
  section .profile-img img {
    width: 17vw;
    height: 17vw;
  }

  section .content h2, footer h2 {
    margin: 2rem 0 1.5rem 0;
    font-size: 1.5rem;
  }
  section .content p {
    font-size: 0.9rem;
    line-height: 1.35rem;
  }

  section .content .about-me {
    max-width: 30rem;
  }
  
  .project-box {
    margin: 0.5rem;
  }

  .excerpt {
    font-size: 0.7rem;
  }

  .excerpt a {
    font-size: 1rem;
  }

  footer .social {
    height: 10rem;
    padding: 2rem 0;
  }
  .icons a i {
    font-size: 0.9rem;
  }
  
  .icons ul li a {
    padding: 0.38em;
    width: 2.5rem;
    height: 2.5rem;
  }
  #copyright {
    font-size: 0.8rem;
    padding: 5rem 0 0;
  }

}

/** NAVIGATION SECTION **/
nav {
  background-color: #fff;
  position: fixed;
  width: 100%;
  text-transform: uppercase;
  border-bottom: 0.06em solid #aaa;
  z-index: 9999;
}

nav > .content {
  height: 4.375rem;
}

nav .logo {
  float: left;
  color: #171818;
  font-size: 1.25rem;
  margin-top: 1.49rem;
  letter-spacing: -.02rem;
}

nav .logo a {
  color: #171818;
  text-decoration: none;
}

nav .nav-menu {
  float: right;
  color: #aaa;
  font-size: 1.05rem;
  margin-top: 1.7rem;
}

nav .nav-menu li {
  display: inline-block;
  padding: 0 0 0 2rem;
}

nav .nav-menu li a {
  margin-left: 1.563rem;
  color: #a2a2a2;
  text-decoration: none;
  transition: all .4s ease 0s;
}

nav .nav-menu li.active {
  color: #3a5556;
  font-weight: 500;
}

nav .nav-menu li a:hover {
  color: #da82ac;
}
nav a:hover {
  cursor: pointer;
  color: #da82ac;
}
